footer{
    padding-left: 50px;
    padding-right: 50px;
    min-height: 150px;
    position: relative;
    bottom: 0%;
    width: 100%;
    margin-top: 20px;

}

.footerbuttons{
    display: block;
    justify-content: end;
}
.footerbuttons .btn-primary{
    width: 100px;
}