
<br><br>
<footer>
    <div style="background-color: #B3DDD3;"><br/></div>
    <div class="container-fluid">
        <div class="row alignment-items-start">
            <div class="col">
                <img src="../../../assets/imgs/Logo.1.png"
                        height="80"
                        loading="lazy" />
            </div>
            <div class="col"></div>
            <div class="footerbuttons">            
                <ul class="d-flex flex-row " >
                    <li ><Button type="button" class="btn btn-primary">FAQ</Button></li>
                    <li><div style="min-width: 100px;"></div></li>
                    <li ><Button type="button" class="btn btn-primary">Contactos</Button></li>
                </ul>
                <br>
                <br>
                <p style="text-align: right;">Contacto@Psiclepio.cl</p>
                <br>
                <p style="text-align: right;">+569 999 999 99</p>
            </div>
        </div>
    </div>
</footer>