<section>
    <div class="container-fluid titulo">
        <div class="texto-titulo"><p>Profesionales</p></div>
        <div class="pad-titulo"></div>
    </div>
    <br>
    <div class="container-fluid filtrar-main">
        <div class="row">
            <div class="col-8 profesionales">
                <ul>
                    <li><p>TO DO </p></li>
                </ul>
            </div>    
            <div class="col-4 col-filtrado">
                <div class="container container-filtrado">
                    <br>
                    <h1 style="font-size: 20px;">Filtrar</h1>
                    <br><br>
                    <div class="dropdown show">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Seleccionar Dia
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                      </div>
                      <br><br>
                      <div class="dropdown show">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Seleccionar Horarios
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                      </div>
                    <br><br><br>
                    <br><br><br>

                    <Button type="button" class="btn btn-primary">Aplicar</Button>

                </div>   
            </div>
        </div>
    </div>
</section>
