<section>
    <div class="container-fluid titulo">
        <div class="texto-titulo"><p>Perfil</p></div>
        <div class="pad-titulo"></div>
    </div>
    <br><br>
 
    <!-- <div class="profile-container">
        <div class="profile-photo">
          <img [src]="profilePhoto" alt="Profile Photo">
        </div>
        <div class="personal-info">
          <div class="info-item">
            <label for="name">Name:</label>
            <input type="text" id="name" [(ngModel)]="name">
          </div>
          <div class="info-item">
            <label for="dateOfBirth">Date of Birth:</label>
            <input type="text" id="dateOfBirth" [(ngModel)]="dateOfBirth">
          </div>
          <div class="info-item">
            <label for="gender">Gender:</label>
            <input type="text" id="gender" [(ngModel)]="gender">
          </div>
          <div class="info-item">
            <label for="email">Email:</label>
            <input type="text" id="email" [(ngModel)]="email">
          </div>
          <div class="info-item">
            <label for="phoneNumber">Phone Number:</label>
            <input type="text" id="phoneNumber" [(ngModel)]="phoneNumber">
          </div>
        </div>
        <div class="about-me">
          <label for="aboutMe">About Me:</label>
          <textarea id="aboutMe" [(ngModel)]="aboutMe"></textarea>
        </div>
      </div> -->
      <div class="container-fluid" id="perfil">
        <div class="foto-perfil">
            <div class="circulo-foto">
            </div>
            <button class="btn btn-primary boton-edit-foto "  (click)="subirFoto()">Subir/cambiar Foto</button>
        </div>
        <div class="texto-perfil">
            <br><br><h1>Información Personal</h1><br>
            <div class="row">
                <div class="col">
                    <!-- <h3>Nombre</h3><br>
                    <h3>Fecha de Nacimiento</h3><br>
                    <h3>Genero</h3><br>
                    <h3>Mail</h3><br>
                    <h3>Numero</h3><br> -->
                    <div class="field">
                      <h3>Nombre</h3>
                      <input [(ngModel)]="nombre" type="text" disabled="true">
                    </div>
                    <div class="field">
                      <h3>Fecha de Nacimiento</h3>
                      <input [(ngModel)]="fechaNacimiento" type="date" disabled="true">
                    </div>
                    <div class="field">
                      <h3>Género</h3>
                      <input [(ngModel)]="genero" type="text" disabled="true">
                    </div>
                    <div class="field">
                      <h3>Mail</h3>
                      <input [(ngModel)]="mail" type="email" disabled="true">
                    </div>
                    <div class="field">
                      <h3>Número</h3>
                      <input [(ngModel)]="numero" type="tel" disabled="true">
                    </div>
                </div>
                <div class="col">
                  <br>
                  <label>Es Paciente? <input type="checkbox" [(ngModel)]="isPaciente" disabled="true"></label>
                  <br>
                  <label>Es Profesional? <input type="checkbox" [(ngModel)]="isProfesional" disabled="true"></label>
                  <br>
                  <button class="btn btn-primary" name="botonPerfil" (click)="toggleEditMode()">
                    {{ isEditMode ? 'Guardar Perfil' : 'Editar Perfil' }}
                  </button>
                </div>
            </div>
            

            <div class="descripcion">
              <h1>Descripcion</h1><br>
              <ng-container *ngIf="!isEditMode; else editText">
                <p>{{ descriptionText }}</p>
              </ng-container>
              <ng-template #editText>
                <textarea [(ngModel)]="descriptionText" rows="5" style="width: 100%; background-color: white;"></textarea>
              </ng-template>
            </div>
        </div>
    </div>      
</section>

  