<section>
    <div class="container-fluid titulo">
        <div class="texto-titulo"><p>Perfil</p></div>
        <div class="pad-titulo"></div>
    </div>
    <br><br>
      <div class="container-fluid" id="perfil">
        <div class="foto-perfil">
            <div class="circulo-foto">
              <div class="fotoUsuario">
                <img *ngIf="perfilData.fotoPerfilUrl" [src]="perfilData.fotoPerfilUrl" alt="Selected Image" >
              </div>
            </div>
            <button class="btn btn-primary boton-edit-foto "  (click)="uploader.click()" name="boton-foto-perfil" [disabled]="!isEditMode" >Subir/cambiar Foto</button>
            <input type="file" (change)="elegirFoto($event)" #uploader style="display: none;">
        </div>
        <div class="texto-perfil">
            <br><br><h1>Información Personal</h1><br>
            <div class="row">
                <div class="col">
                    <div class="field">
                      <h3>Nombre</h3>
                      <input [(ngModel)]="perfilData.nombre" type="text" disabled="true">
                    </div>
                    <div class="field">
                      <h3>Fecha de Nacimiento</h3>
                      <input [(ngModel)]="perfilData.fechaNacimiento" type="date" disabled="true">
                    </div>
                    <div class="field">
                      <h3>Género</h3>
                      <input [(ngModel)]="perfilData.genero" type="text" disabled="true">
                    </div>
                    <div class="field">
                      <h3>Mail</h3>
                      <input [(ngModel)]="perfilData.email" type="email" disabled="true">
                    </div>
                    <div class="field">
                      <h3>Número</h3>
                      <input [(ngModel)]="perfilData.numero" type="tel" disabled="true">
                    </div>
                </div>
                <div class="col">
                  <br>
                  <label>Es Paciente? <input type="checkbox" [(ngModel)]="perfilData.isPaciente" disabled="true"></label>
                  <br>
                  <label>Es Profesional? <input type="checkbox" [(ngModel)]="perfilData.isProfesional" disabled="true"></label>
                  <br>
                  <button class="btn btn-primary" name="botonPerfil" (click)="toggleEditMode()">
                    {{ isEditMode ? 'Guardar Perfil' : 'Editar Perfil' }}
                  </button>
                </div>
            </div>
            

            <div class="descripcion">
              <h1>Descripcion</h1><br>
              <ng-container *ngIf="!isEditMode; else editText">
                <p>{{ perfilData.descripcion }}</p>
              </ng-container>
              <ng-template #editText>
                <textarea [(ngModel)]="perfilData.descripcion" rows="5" style="width: 100%; background-color: white;"></textarea>
              </ng-template>
            </div>
        </div>
    </div>      
</section>

  