<section>
    <div class="container-fluid titulo">
        <div class="texto-titulo"><p>Perfil</p></div>
        <div class="pad-titulo"></div>
    </div>
    <br><br>
 
    <!-- <div class="profile-container">
        <div class="profile-photo">
          <img [src]="profilePhoto" alt="Profile Photo">
        </div>
        <div class="personal-info">
          <div class="info-item">
            <label for="name">Name:</label>
            <input type="text" id="name" [(ngModel)]="name">
          </div>
          <div class="info-item">
            <label for="dateOfBirth">Date of Birth:</label>
            <input type="text" id="dateOfBirth" [(ngModel)]="dateOfBirth">
          </div>
          <div class="info-item">
            <label for="gender">Gender:</label>
            <input type="text" id="gender" [(ngModel)]="gender">
          </div>
          <div class="info-item">
            <label for="email">Email:</label>
            <input type="text" id="email" [(ngModel)]="email">
          </div>
          <div class="info-item">
            <label for="phoneNumber">Phone Number:</label>
            <input type="text" id="phoneNumber" [(ngModel)]="phoneNumber">
          </div>
        </div>
        <div class="about-me">
          <label for="aboutMe">About Me:</label>
          <textarea id="aboutMe" [(ngModel)]="aboutMe"></textarea>
        </div>
      </div> -->
      <div class="container-fluid" id="perfil">
        <div class="foto-perfil">
            <div class="circulo-foto"></div>
        </div>
        <div class="texto-perfil">
            <br> <h1>Información Personal</h1><br>
            <div class="row">
                <div class="col">
                    <h3>Nombre</h3><br>
                    <h3>Fecha de Nacimiento</h3><br>
                    <h3>Genero</h3><br>
                    <h3>Mail</h3><br>
                    <h3>Numero</h3><br>
                </div>
                <div class="col">
                    <p>Nombre de la Persona</p><br><br>
                    <p>DD/MM/YY</p><br><br>
                    <p>Genero de la persona</p><br><br>
                    <p>mail@mail.com</p><br><br>
                    <p>+569 999 999 99</p><br><br>
                </div>
            </div>
            <div class="descripcion">
                <h1>Descripcion</h1><br>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed laoreet ligula purus, et sodales purus tristique ac. Mauris consectetur arcu in nisi volutpat, volutpat ornare dui pretium. Integer cursus arcu eu urna feugiat, hendrerit semper massa vestibulum. Nam posuere leo ex, in mattis nisl venenatis laoreet. Sed ullamcorper laoreet urna, vel faucibus dui condimentum id. Proin aliquam pharetra mattis. Integer sit amet justo ut purus mattis posuere at eget metus. Nunc sit amet leo quis enim gravida suscipit. Phasellus dictum viverra sapien, sit amet eleifend tortor semper a. In ullamcorper, libero at rhoncus placerat, massa neque cursus tortor, sed tempor nibh quam eu mauris. Phasellus sit amet aliquam diam. </p>
            </div>
        </div>
    </div>      
</section>

  