#perfil {
    min-height: 600px;
    border-bottom-right-radius: 300px;
    position: relative;
  }
  

  .foto-perfil {
    width: 25%; 
    min-height: 600px;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .texto-perfil {
    width: 75%;
    min-height: 600px;
    position: absolute;
    right: 0;
    padding-right: 100px;
    padding-left: 50px;
    border-bottom-right-radius: 150px;
    z-index: 0;
  }
  
  .circulo-foto {
    width: 250px;
    height: 250px;
    border: 10px solid #F56E78;
    border-radius: 50%;
    background-color: #fff;
//   background-image: url(placeholder-image.jpg); 
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 40%;
    left: 55%;
    transform: translate(-50%, -50%);
    z-index: 1;
    overflow: hidden;
  }

  .fotoUsuario img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .boton-edit-foto{
    position: absolute;
    top: 65%;


  }
  
  .texto-perfil h1 {
    font-size: 36px;
    font-weight: bold;
  }
  
  .col {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  h3 {
    font-size: 24px;
  }
  
  .col p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .descripcion {
    margin-top: 20px;
  }
  
input{
    border: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    border : 1px solid black;
    margin: 1px;
}