<section>
    <div class="container-fluid titulo">
        <div class="texto-titulo"><p>Agenda</p></div>
        <div class="pad-titulo"></div>
    </div>
    <br><br>
    <br>
    <div class="container-fluid proxSesion">
        <div class="row row-agenda">
            <div class="col">        
                <div class="container-fluid fotoPersona">
                    <div class="circulo-foto"></div>
                </div>
            </div>
            <div class="col">
                <div class="container-fluid descripcion-sesion">
                    <br><br>
                        <h1>Nombre psicologo</h1>
                        <br><br>
                        <h1>DD/MM/YY - 00:00</h1>
                        <br><br>
                        <h1>Información importante sobre la sesión</h1>
                        <br><br>
                        <br><br>
                        <p>Resolución y puntos importantes sobre la sesión</p>
                </div>
            </div>    
            <div class="col">
                <div class="container-fluid pad-agenda">
                    
                </div>
            </div>
        </div>
    </div>
</section>