<section>
    <div class="container-fluid" id="contenido">
        <div class="logo-contenido">
            <img src="../../../assets/imgs/logo2.png" style="margin-top: 75px;"> 
        </div>   
        <div class="texto-contenido">
            <h1 style="margin-left: 100px;">Bienvenido a Psiclepio, terapia y salud mental</h1>
            <br><br>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed laoreet ligula purus, et sodales purus tristique ac. Mauris consectetur arcu in nisi volutpat, volutpat ornare dui pretium. Integer cursus arcu eu urna feugiat, hendrerit semper massa vestibulum. Nam posuere leo ex, in mattis nisl venenatis laoreet. Sed ullamcorper laoreet urna, vel faucibus dui condimentum id. Proin aliquam pharetra mattis. Integer sit amet justo ut purus mattis posuere at eget metus. Nunc sit amet leo quis enim gravida suscipit. Phasellus dictum viverra sapien, sit amet eleifend tortor semper a. In ullamcorper, libero at rhoncus placerat, massa neque cursus tortor, sed tempor nibh quam eu mauris. Phasellus sit amet aliquam diam. </p>
        </div>
    </div>
    <div class="container-fluid" id="botonera-contenido">
        <div *ngIf="authService.userData as user; then thenBlock else elseBlock"></div>
        
        <ng-template #thenBlock>
        
            <div class="cuadrado-botonera-contenido">
                <button type="button" class="btn-lg btn-primary" [routerLink]="'Profesionales'" >Profesionales</button>
            </div>
            <div class="cuadrado-botonera-contenido">
                <button type="button" class="btn-lg btn-primary" [routerLink]="'Agenda'">Agenda</button>
            </div>
            <div class="cuadrado-botonera-contenido">
                <button type="button" class="btn-lg btn-primary" [routerLink]="'Sesiones'">Sesiones</button>
            </div>
            <div class="cuadrado-botonera-contenido" id="rounded" ></div>
        
        </ng-template>
        <ng-template #elseBlock>
            
            <div class="cuadrado-botonera-contenido">
                <button type="button" class="btn-lg btn-primary" [routerLink]="'Profesionales'" >Profesionales</button>
            </div>
            <div class="cuadrado-botonera-contenido">
                <!-- <button type="button" class="btn-lg btn-primary">Agenda</button> -->
            </div>
            <div class="cuadrado-botonera-contenido">
                <!-- <button type="button" class="btn-lg btn-primary">Sesiones</button> -->
            </div>
            <div class="cuadrado-botonera-contenido" id="rounded" ></div>
        
        </ng-template>
</div>
</section>