

.container-fluid.videollamada{
    z-index: 0;
    position: relative;
    padding: 0px;
    background-color: rgb(37, 37, 37);
    min-height: 600px;
    min-width: 800px;
}
.control-videollamada{
    z-index: 1;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px !important;
    background-color: #F56E78;
}

.control-videollamada p{
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    background-color: #F56E78;
    color: white;
    font-weight: bolder;
    font-size: x-large;
}