.form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
  }
  
  .error-message {
    color: red;
    margin-top: 5px;
  }

  ::ng-deep .mat-tooltip {
    background-color: #333;
    color: #fff;
  }
  
