.faq-item {
    margin-bottom: 20px;
  }
  
  .question {
    //background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
  }
  
  .question-box {
    font-weight: bold;
  }
  
  .answer {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
  }
  