<header>
    <nav class="navbar ">
        <div class="container-fluid d-flex">
                <a class="navbar-brand" href="#">
                    <img src="../../../assets/imgs/Logo.1.png"
                        height="60"
                        loading="lazy" />
                </a>
                <div *ngIf="(authService.isLoggedIn); then thenBlock else elseBlock"></div>
                <ng-template #thenBlock>
                    <ul class="d-flex flex-row ">
                        <li ><Button type="button" class="btn btn-primary" [routerLink]="'Inicio'">Inicio</Button></li>
                        <li ><Button type="button" class="btn btn-primary" [routerLink]="'Perfil'" >Perfil</Button></li>
                        <li ><Button type="button" class="btn btn-primary" [routerLink]="'Sesiones'">Sesiones</Button></li>
                        <li ><Button type="button" class="btn btn-primary" [routerLink]="'Agenda'">Agenda</Button></li>
                        <li ><Button type="button" class="btn btn-primary" (click)="authService.SignOut()">Salir</Button></li>
                        <li><div class="menu-usuario"></div></li>
                    </ul>
                </ng-template>
                <ng-template #elseBlock>
                    <ul class="d-flex flex-row ">
                        <li ><Button type="button" class="btn btn-primary" [routerLink]="'Inicio'">Inicio</Button></li>
                        <li ><Button type="button" class="btn btn-primary" [routerLink]="'Profesionales'" >Profesionales</Button></li>
                        <li ><Button type="button" class="btn btn-primary" [routerLink]="'Login'">Inicio Sesión</Button></li>
                        <li ><Button type="button" class="btn btn-primary" [routerLink]="'SignUp'">Crear cuenta</Button></li>
                        <li ><Button type="button" class="btn btn-primary" [routerLink]="'FAQ'">FAQ</Button></li>
                        <li><div class="menu-usuario"></div></li>
                    </ul>
                </ng-template>
        </div>
    </nav>
</header>

<br><br>