<header>
    <nav class="navbar ">
        <div class="container-fluid d-flex">
                <a class="navbar-brand" href="#">
                    <img src="../../../assets/imgs/Logo.1.png"
                        height="60"
                        loading="lazy" />
                </a>
                <ul class="d-flex flex-row ">
                    <li ><Button type="button" class="btn btn-primary">Inicio</Button></li>
                    <li ><Button type="button" class="btn btn-primary">Profesionales</Button></li>
                    <li ><Button type="button" class="btn btn-primary">Sesiones</Button></li>
                    <li ><Button type="button" class="btn btn-primary">Agenda</Button></li>
                    <li ><Button type="button" class="btn btn-primary">FAQ</Button></li>
                    <li><div class="menu-usuario"></div></li>
                </ul>

        </div>
    </nav>
</header>

<br><br>