<header>
    <nav class="navbar ">
        <div class="container-fluid d-flex">
                <a class="navbar-brand" href="#">
                    <img src="../../../assets/imgs/Logo.1.png"
                        height="60"
                        loading="lazy" />
                </a>
                <div *ngIf="(authService.isLoggedIn); then thenBlock else elseBlock"></div>
                <ng-template #thenBlock>
                    <ul class="d-flex flex-wrap align-items-center">
                      <li class="nav-item"><a class="nav-link btn btn-primary" [routerLink]="'Inicio'">Inicio</a></li>
                      <li class="nav-item"><a class="nav-link btn btn-primary" [routerLink]="'Perfil'">Perfil</a></li>
                      <li class="nav-item"><a class="nav-link btn btn-primary" [routerLink]="'Sesiones'">Sesiones</a></li>
                      <li class="nav-item"><a class="nav-link btn btn-primary" [routerLink]="'Agenda'">Agenda</a></li>
                      <li class="nav-item"><button type="button" class="btn btn-primary" (click)="authService.SignOut()">Salir</button></li>
                      <!-- <li class="nav-item"><div class="menu-usuario"></div></li> -->
                    </ul>
                  </ng-template>
                  <ng-template #elseBlock>
                    <ul class="d-flex flex-wrap align-items-center">
                      <li class="nav-item"><a class="nav-link btn btn-primary" [routerLink]="'Inicio'">Inicio</a></li>
                      <li class="nav-item"><a class="nav-link btn btn-primary" [routerLink]="'Profesionales'">Profesionales</a></li>
                      <li class="nav-item"><a class="nav-link btn btn-primary" [routerLink]="'Login'">Inicio Sesión</a></li>
                      <li class="nav-item"><a class="nav-link btn btn-primary" [routerLink]="'SignUp'">Crear cuenta</a></li>
                      <li class="nav-item"><a class="nav-link btn btn-primary" [routerLink]="'FAQ'">FAQ</a></li>
                      <!-- <li class="nav-item"><div class="menu-usuario"></div></li> -->
                    </ul>
                  </ng-template>
        </div>
    </nav>
</header>

<br><br>