header{
    padding-left: 50px;
    padding-right: 50px;
}
.btn-primary{
    background-color: #F56E78 !important;
    font-weight: bold !important;
    border: #F56E78 !important;
    color: #ffffff;
}
.navbar{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}
.navbar .btn-primary{
    width: 120px;
    flex-flow: row wrap;
}
li{
    margin: 5px;
}


.menu-usuario{
    height: 50px;
    width: 50px;
    background-color: #F56E78;
    border-radius: 50px;
    margin-top: -10px;
}
