
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Psiclepio-primary: mat.define-palette(mat.$indigo-palette);
$Psiclepio-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Psiclepio-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Psiclepio-theme: mat.define-light-theme((
  color: (
    primary: $Psiclepio-primary,
    accent: $Psiclepio-accent,
    warn: $Psiclepio-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Psiclepio-theme);

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";

*{
    margin: 0px;
    padding: 0px;
    background-color: #B3DDD3;
}
// header{
//     padding-left: 50px;
//     padding-right: 50px;
// }

section{
    display: block;
    background-color: white;
    padding-left: 200px;
    padding-right: 200px;
    min-height: 600px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
// .navbar{
//     display: flex;
//     justify-content: space-between;
//     flex-flow: row wrap;
// }
// .navbar .btn-primary{
//     width: 120px;
//     flex-flow: row wrap;
// }
// li{
//     margin: 5px;
// }
.btn-primary{
    background-color: #F56E78 !important;
    font-weight: bold !important;
    border: #F56E78 !important;
}

#contenido{
    background-color: #B3DDD3 !important;
    min-height: 400px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}
#botonera-contenido{
    background-color: white;
    padding: 0;
    display: flex;
}
.cuadrado-botonera-contenido{
    width: 25%;
    height: 200px;
    position: relative;
}
.cuadrado-botonera-contenido .btn-primary{
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 200px;
}
#rounded{
     border-bottom-right-radius: 200px
}
.logo-contenido{
    display:block;
    width:350px;
    height: 350px;
    border-radius: 350px;
    text-align:center;
    margin: 20px;
    background: #fff;
}
.texto-contenido{
    padding-top: 50px;
    padding-left: 100px;
    vertical-align: top;
    font-size:xx-large ;
    font-weight: bold;
    inline-size: 1000px;
    overflow-wrap: break-word;
}
.texto-contenido p{
    font-size: medium;
    font-weight: 100;
}

.container-fluid.titulo{
    background-color: white;
    display: flex;
    padding: 0;
}
.texto-titulo{
    position: relative;
    height: 80px;
    width: 300px;
    background-color: #F56E78;
    text-align: center;
}
.texto-titulo p{
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    background-color: #F56E78;
    color: white;
    font-weight: bolder;
    font-size: 20px;
}
.pad-titulo{
    border-bottom-right-radius: 80px ;
    width: 100%;
}

.profesionales{
    background-color: white;
}

.col-filtrado{
    background-color: white;
}
.container-filtrado{
    border-bottom-right-radius: 150px;
    padding-left: 40px;
    display:block;
}

.dropdown.show{
    width: fit-content;
}
.container-filtrado Button{
    position: relative;
    bottom: 50px;
    width: 150px;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.proxSesion{
    background-color: white;
    border: 5px solid #B3DDD3;
    min-height: 400px;
    border-bottom-right-radius: 200px;
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    padding: 0px;
}

// .fotoPersona{
//     width: 250px;
//     min-height: 250px;
//     position: relative;
//     left: 0px;
//     background-color: white;
//     padding: 0px;
// }

// .circulo-foto{
//     width: 200px;
//     height: 200px;
//     border: 5px solid #F56E78;
//     border-radius: 50%;
//     background-color: #fff;
//     position: absolute; 
//     top: 50%; 
//     left: 50%; 
//     transform: translate(-50%, -50%);
// }

.descripcion-sesion{
    position: relative;
    background-color: white;
    width: 600px;
    height: 300px;
}
.row-agenda .col{
    padding: 0px;
    background-color: white;
}
.row-agenda{
    position: absolute;
    left: 15px;
    padding: 0px;
}
.descripcion-sesion h1{
    background-color: white;
    font-size: 30px;
}

.descripcion-sesion p{
    background-color: white;
    font-size: 15px;
}

.buscador{
    min-height: 600px;
    border-bottom-right-radius: 200px;
    position: relative;
    padding: 0px;
}

.botonera-buscador{
    height: 80px;
    background-color: white;
    position: absolute;
    top: 0px;
    z-index: 10;
    padding: 0px;
}

.boton-online{
    height: 80px;
    width: 350px;
    background-color: #F56E78;
    position: relative;
}
.boton-presencial{
    height: 80px;
    width: 350px;
    background-color: white;
    position: relative;
    left: 350px;
    top: -80px;
}

.botonera-buscador p{
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    background-color: #F56E78;
    color: white;
    font-weight: bolder;
    font-size: 22px;
}

.boton-presencial p{
    color: black;
    background-color: white;
}

.buscador-main{
    display: flex;
    position: absolute;
    top: 150px;
    padding-left: 100px;
    padding-right: 100px;
}

.input-group.buscador-barra{
    position: absolute;    
    right: 100px;
    min-width: 50px;
    max-width: 500px;
}

.boton-buscar{
    border-radius: 0px;
    position: absolute;
    left: 50%;
    bottom: 0px;
    width: 300px;
    height: 80px;
    transform: translate(-50%, -50%);

}

.buscador-menus{
    position: relative;
    padding: 0px;
    top: 100px;
    left: -300px;
}

.boton-menu{
    width: 800px;
}.lista-faq{
    background-color: white;
}


.card-link{
    color: black;
}

.card-body{
    background-color: white;
}
// #perfil{
//     min-height: 600px;
//     border-bottom-right-radius: 300px;
//     position: relative;
// }

// .foto-perfil{
//     min-width: 400px;
//     min-height: 600px;
//     position: absolute;
//     left: 0px;
// }

// .texto-perfil{
//     min-width: 850px;
//     min-height: 600px;
//     position: absolute;
//     left: 400px;
// }

// .circulo-foto{
//     width: 300px;
//     height: 300px;
//     border: 10px solid #F56E78;
//     border-radius: 50%;
//     background-color: #fff;
//     position: absolute; 
//     top: 30%; 
//     left: 50%; 
//     transform: translate(-50%, -50%);
// }

// .texto-perfil h1{
//     font-size: 45px;
//     font-weight: bold;
// }
// .col h3{
//     font-size: 35px;
// }

// .col p{
//     font-size: 20px;
// }
// .descripcion{
//     position: absolute;
// }


.container-fluid.videollamada{
    z-index: 0;
    position: relative;
    padding: 0px;
    background-color: rgb(37, 37, 37);
    min-height: 600px;
    min-width: 800px;
}
.control-videollamada{
    z-index: 1;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px !important;
    background-color: #F56E78;
}

.control-videollamada p{
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    background-color: #F56E78;
    color: white;
    font-weight: bolder;
    font-size: x-large;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
